body {
  color: rgb(0, 0, 0);
  font-family: 'sorts_mill_goudy_tt', serif;
  font-size: 1.6em;
  margin: 0px auto;
  width: 35em;
  padding: 2.5em 0;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures contextual;
  -moz-font-feature-settings: "liga", "clig", "calt";
  -ms-font-feature-settings: "liga", "clig", "calt";
  -webkit-font-feature-settings: "liga", "clig", "calt";
  font-feature-settings: "liga", "clig", "calt";
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum";
  -ms-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

h1 {
  font-size: 1.75em;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 0;
}

h2 {
  text-transform: uppercase;
}

h3 {
  font-style: italic;
}

figcaption {
  font-size: .75em;
}

ol, ul {
  padding-left: 1em;
}

p { 
  margin-bottom: 0;
}

p + p {
  text-indent: 1em;
  margin-top: 0;
}

sup {
  font-variant-position: super;
  -moz-font-feature-settings: "sups";
  -ms-font-feature-settings: "sups";
  -webkit-font-feature-settings: "sups";
  font-feature-settings: "sups";
  line-height: normal;
  top: inherit;
  font-size: inherit;
}

.supplementary {
  font-style: italic;
  opacity: 0.8;
  font-size: 0.9em;
}

.supplementary cite {
  font-style: normal;
}

.frac {
  font-variant-numeric: diagonal-fractions;
  -moz-font-feature-settings: "frac";
  -ms-font-feature-settings: "frac";
  -webkit-font-feature-settings: "frac";
  font-feature-settings: "frac";
}

.ref, .reverseref {
  text-decoration: none;
}

.noted {
  border-top: 1px solid black;
}

#authors {
  text-align: center;
}

#authors::before {
  content: "By ";
  font-style: italic;
}

#authors dl, #authors dd {
  display: inline;
}

#authors dd {
  margin: 0;
}

#authors dt {
  display: none;
}
